@font-face {
	font-family: "ProximaNova-Regular";
	src: url("../fonts/ProximaNova-Regular.eot") format("embedded-opentype"),
			url("../fonts/ProximaNova-Regular.woff") format("woff"),
			url("../fonts/ProximaNova-Regular.woff2") format("woff2"),
			url("../fonts/ProximaNova-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "ProximaNova-Bold";
	src: url("../fonts/ProximaNova-Bold.eot") format("embedded-opentype"),
			url("../fonts/ProximaNova-Bold.woff") format("woff"),
			url("../fonts/ProximaNova-Bold.woff2") format("woff2"),
			url("../fonts/ProximaNova-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "Intro-Black";
	src: url("../fonts/Intro-Black.otf") format("opentype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Intro-Black-Italic";
	src: url("../fonts/Intro-Black-Italic.otf") format("opentype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Intro-Regular";
	src: url("../fonts/Intro-Regular.otf") format("opentype");
	font-style: normal;
	font-weight: normal;
}